body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: #070707;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px; /* Espace pour la navbar fixe */
}

h1 {
  color: #fe7200;
  margin-bottom: 20px;
}

#message {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  height: 30px;
}

#grille {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 20px;
  margin-bottom: 20px;
}

.case {
  background: rgb(15, 15, 15);
  border: none;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s;
  box-shadow:
    -3px -3px 10px 3px rgba(255, 255, 255, 0.05),
    2px 2px 10px #000000dd,
    inset -3px -3px 10px 3px rgba(255, 255, 255, 0.05),
    inset 2px 2px 10px #000000;
}

.case:hover:not(:disabled) {
  background: #0a0a0a;
  box-shadow:
    -3px -3px 10px 3px rgba(255, 255, 255, 0.05),
    2px 2px 10px #00000000,
    inset -3px -3px 10px 3px rgba(255, 255, 255, 0.05),
    inset 2px 2px 10px #000000;
  transform: scale(1.03) translateY(-2px);
}

.case:disabled {
  cursor: not-allowed;
}

.X {
  color: #ffffff;
}

.O {
  color: #fe7200;
}

#reset {
  background: rgba(255, 255, 255, 0);
  color: #fe7200;
  border: 1px solid #fe7200;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  box-shadow:
    0 0 10px #fe7200,
    inset 0 0 20px #fe720000;
}

a {
  text-decoration: none;
}

#reset:hover {
  background: #f0f0f000;
  transform: scale(0.95);
  box-shadow:
    0 0 20px #fe720000,
    inset 0 0 10px #fe7200;
}

.gagnant {
  background: #292929 !important;
  animation: brille 1s;
}

@keyframes brille {
  0%,
  100% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1) rotate(5deg);
  }
  66% {
    transform: scale(1.1) rotate(-5deg);
  }
}
