/* PAR DEFAUT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #111111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: sans-serif;
}

.container {
  background: #202020;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  position: relative;
}
.screen {
  display: none;
  padding: 2rem;
  text-align: center;
}

.screen.active {
  display: block;
}

#start-screen h1 {
  color: #0073ff;
  margin: 0 0 20px;
  font-size: 2.2rem;
}

#start-screen p {
  color: #dddddd;
  font-size: 1.2rem;
  margin: 10px 0 30px;
}

.quiz-header {
  margin-bottom: 2rem;
}

.quiz-header h2 {
  margin-bottom: 1.5rem;
}

#question-text {
  color: #0073ff;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  color: #cccccc;
  margin-bottom: 10px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 25px;
}

.answer-btn {
  background: #323232;
  color: #d6d6d6;
  border: 2px solid #424242;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}

.answer-btn:hover {
  background: #c0dfff;
  border-color: #0061c2;
  color: #333;
}

.answer-btn.correct {
  background: #d4edda;
  border-color: #28a745;
  color: #155724;
}

.answer-btn.incorrect {
  background: #f8d7da;
  border-color: #dc3545;
  color: #721c24;
}

.progress-bar {
  height: 10px;
  background: #aaaaaa;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.progress {
  height: 1000%;
  background: #0073ff;
  width: 0%;
  transition: width 0.3s ease;
}

#result-screen h1 {
  color: #0073ff;
  margin-bottom: 30px;
}

.result-info {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 30px;
  box-shadow:
    inset 0 0 10px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(67, 67, 67, 0.5);
}

.result-info p {
  font-size: 1.2rem;
  color: #d5d5d5;
  margin-bottom: 1rem;
}

#result-message {
  font-size: 1.6rem;
  color: #0073ff;
  font-weight: 700;
}

button {
  background: #0073ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.3s ease;
}

button:hover {
  background: rgb(0, 80, 159);
}

@media (max-width: 500px) {
  .screen {
    padding: 1rem;
  }

  #start-screen h1 {
    font-size: 2rem;
  }

  #question-text {
    font-size: 1.3rem;
  }

  .answer-btn {
    padding: 12px;
  }

  button {
    padding: 12px 25px;
    font-size: 1rem;
  }
}
