* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(10, 10, 10);
}

.navbar-container {
  position: fixed;
  background: rgb(22, 22, 22);
  height: 100vh;
  width: 25vw;
  box-shadow: 5px 0 50px rgba(255, 255, 255, 0.05);
}

.nav-ordi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 900px) {
  .navbar-container {
    height: 10vh;
    width: 100vw;
    box-shadow: 0 5px 50px rgba(255, 255, 255, 0.05);
  }
}
